<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>769602106672-iicjael0up2b6rqrvindp68gmjv5ejce.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.769602106672-iicjael0up2b6rqrvindp68gmjv5ejce</string>
	<key>API_KEY</key>
	<string>AIzaSyADq8l0ylxtgI2zOn28y4HRbJYK4y1xN8Q</string>
	<key>GCM_SENDER_ID</key>
	<string>769602106672</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.glover.Snacktacular</string>
	<key>PROJECT_ID</key>
	<string>snacktacular-925c4</string>
	<key>STORAGE_BUCKET</key>
	<string>snacktacular-925c4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:769602106672:ios:71a0678d0d9179094f44f5</string>
	<key>DATABASE_URL</key>
	<string>https://snacktacular-925c4.firebaseio.com</string>
</dict>
</plist>